## To Create .csv file for Test Labels

In [1]:
from glob import glob
import sys
import pandas as pd
import os

In [2]:
base= 'Dataset/Test/'
test_images= glob(base+'*')
len(test_images)

3105

In [3]:
cols= ['Name', 'is_Fundus']
labels= pd.DataFrame(columns=cols)
labels

Empty DataFrame
Columns: [Name, is_Fundus]
Index: []

In [4]:
for index, image in enumerate(test_images):
    name= os.path.basename(image)
#     print(name)
    if 'Fundus' not in name:
        labels.loc[index]= [name, '0']
    else:
        labels.loc[index]= [name, '1']
#     sys.exit(0)

In [5]:
len(labels)

3105

In [6]:
labels.sample(15)

                  Name is_Fundus
1667  test (2181).jpeg         0
445   test (1190).jpeg         0
671   test (1374).jpeg         0
1105  test (1726).jpeg         0
2593   test (593).jpeg         0
2720   test (697).jpeg         0
969   test (1615).jpeg         0
2533   test (543).jpeg         0
1217  test (1817).jpeg         0
349   test (1110).jpeg         0
1910   test (238).jpeg         0
2977   test (903).jpeg         0
1680  test (2192).jpeg         0
2626   test (619).jpeg         0
1834  test (2316).jpeg         0

In [8]:
labels.to_csv('Dataset/test_labels.csv')