## To Create .csv file for Test Labels

In [1]:
from glob import glob
import sys
import pandas as pd
import os

In [6]:
base= 'Dataset/Test/0/'
test_images= glob(base+'*')
len(test_images)

3104

In [11]:
cols= ['Path', 'is_Fundus']
labels= pd.DataFrame(columns=cols)
labels

Empty DataFrame
Columns: [Path, is_Fundus]
Index: []

In [12]:
for index, image in enumerate(test_images):
    name= os.path.basename(image)
#     print(name)
    if 'Fundus' not in name:
        labels.loc[index]= [name, '0']
    else:
        labels.loc[index]= [name, '1']
#     sys.exit(0)

In [13]:
len(labels)

3104

In [14]:
labels.sample(15)

                  Path is_Fundus
1460  test (2012).jpeg         0
2476     test (5).jpeg         0
724   test (1417).jpeg         0
1765  test (2261).jpeg         0
1418  test (1982).jpeg         0
2332    test (39).TIFF         0
1931  test (2398).jpeg         0
578      test (13).png         0
2035  test (2481).jpeg         0
698   test (1398).jpeg         0
952   test (1601).jpeg         0
1336  test (1914).jpeg         0
295    test (107).jpeg         0
2216   test (300).jpeg         0
2585   test (588).jpeg         0

In [15]:
labels.to_csv('Dataset/test_labels.csv')